@font-face {
  font-family: "FSAlbert";
  src: url("./assets/fonts/FSAlbertRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.website {
  font-family: "FSAlbert", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.9px;
}
.h2 {
  color: #12406f;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #002f5f;
  color: white;
  padding: 20px;
  gap: calc(1 / 3);
}

.logo {
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 30px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
}

.enrolment {
  color: #12406f !important;
  padding: 12px 23px;
  border-radius: 13px;
  background: white;
}

.nav-links a:hover {
  color: #ddd;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
  margin: 4px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header {
    justify-content: space-between;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #002f5f;
  }

  .nav-links li {
    text-align: center;
    margin: 1rem 0;
  }

  .nav-links.active {
    display: flex;
    z-index: 2;
    align-items: start;
    padding-left: 40%;
    text-align: left;
    padding-bottom: 40px;
  }
  .searcg-icon-li {
    display: none;
  }
  .hamburger {
    display: flex;
  }
}

.searcg-icon {
  height: 20px;
  width: 20px;
  padding: 14px 16px;
}
.top-section {
  display: flex;
  width: 100%;
  padding-left: 80px;
  background-color: #ebebeb;
}
.nav li a.enrolment {
  color: #000;
  background-color: white;
  border-radius: 12px;
  display: block;
  text-align: center;
  padding: 16px 22px;
  text-decoration: none;
}

.top-section text-container {
  display: flex;
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.banner {
  height: 390px;
  background-color: white;
}

.text-container {
  height: 300px;
  flex: 1;
  text-align: left;
  padding-left: 10%;
  width: 50%;
}
.text-container p {
  width: 60%;
}

.image-container {
  width: 50%;
  text-align: right;
  position: relative;
}

.image-container img {
  height: 390px;
  max-width: 100%;
}
.upcoming_examinations {
  padding-left: 80px;
}

/* Slider */
.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 390px;
  /* margin: 20px auto; */
  background: #f4f4f4;
  border-radius: 8px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  position: relative;
}

.slider-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  /* padding: 10px; */
  font-size: 1.2rem;
  font-weight: bold;
}

.slider-text {
  text-align: center;
  margin: 0;
}

.slider-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 30px;
  top: 50%;
  gap: 5px;
  transform: translateY(-50%);
}

.button {
  width: 10px;
  height: 12px;
  margin: 0 5px;
  background: #ddd;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button.active {
  height: 30px; /* Stretch the active button's height */
  width: 6px; /* Keep the width same */
  background: #007bff;
  border-radius: 5px; /* Optional: Adjust border-radius for a slightly more rectangular shape */
}

.button:hover {
  background: #0056b3;
}

p {
  font-family: "FSAlbert", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 14px;
}

.first_button {
  display: flex;
  background-color: #002f5f;
  border-radius: 14px;
  display: flex;
  text-align: center;
  padding: 21px 10px;
  text-decoration: none;
  width: 136px;
  height: 24px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 100;
  text-align: center;
  align-items: center;
}
.subscribe_button {
  color: white;
  background-color: #002f5f;
  border-radius: 14px;
  display: flex;
  text-align: center;
  padding: 15px 22px;
  text-decoration: none;
  width: 136px;
  height: 24px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 100;
  text-align: center;
}
.arrow {
  margin-left: 10px; /* Adjust the margin as needed */
}

/* second section */

.exam-schedule {
  padding: 26px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  gap: 0px;
  margin: 70px;
  /* Other styles for spacing and alignment */
}

.upcoming-exams {
  display: flex;
  text-align: start;
  /* padding-left: 0px; */
  width: 25%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  /* Other styles for font size, color, etc. */
}

.exam-level {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  margin: 20px;
  gap: 47px;

  /* Other styles for spacing and alignment */
}

.exam_date {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}

.p {
  font-size: 12px;
  font-weight: normal;
}

.calendar-icon,
.clock-icon {
  height: fit-content;
}

.line {
  height: 100%;
  width: 0%;
  border: 1px solid #b5b0b0;
}

.exam_dates_child {
  display: flex;
  text-align: start;
  flex-direction: column;
  padding-left: 15px;
  padding-top: 0px;
  gap: 5px;
  font-size: 20px;
}
.exam_dates_child h5 {
  margin: 0;
}
.exam_dates_child p {
  margin: 0;
  text-align: left;
}

.statistics_slider {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden; /* Ensures only visible content is shown */
}

.statistics_container {
  display: flex;
  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden; /* Hide the scrollbar */
  scroll-behavior: smooth; /* Enable smooth scrolling */
}

.statistics {
  display: flex;
  gap: 1rem;
  margin-bottom: 70px;
}

.statistics_box {
  flex: 0 0 auto;
  height: 150px;
  width: 300px;
  background: url(./assets/svg/Group_5833.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 20px;
  margin-right: 1rem;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  padding-left: 35px;
}

/* Hide scrollbar for all modern browsers */
.statistics_container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.statistics_container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.subscribers_container {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  padding-left: 6%;
  background-color: #f6f6f6;
}
.subscribe_content {
  height: 250px;
  width: 200px;
  text-align: left;
  padding: 10px;
  color: #12406f;
}
.subscribe_content h1 {
  font-size: 3rem;
  color: #12406f;
  margin: 0;
}
.subscribe_content h4 {
  color: #12406f;
  margin: 0;
}
.faq {
  color: #12406f;
}

.faq div {
  /* width: 90%; */
  padding-left: 30px;
}
.subscribe_count {
  color: #12406f;
  display: flex;
  padding: 5% 0 0 10%;
  text-align: left;
}
.left_side {
  width: 40%;
}
.right_side img {
  width: 85%;
}
.subscribe_form {
  display: flex;
  gap: 1rem;
}
.subscribe_input {
  padding: 6px;
  width: 400px;
  border: none;
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 5px;
}

.footer {
  background: url(./assets/svg/Group17432.png);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  gap: 85px;
  padding: 98px;
}

.followus_child {
  display: flex;
  gap: 24px;
  display: flex;
  height: 22px;
}

.contact-us {
  display: inline-block;
  text-align: start;
}

.contact-us p {
  color: white;
  font-size: 12px;
}

.contact-us h2 {
  color: white;
  font-size: 18px;
}

.follow-us h2 {
  color: white;
  font-size: 18px;
}

.head-office h2 {
  color: white;
  font-size: 18px;
}

.head-office p {
  display: inline-block;
  direction: flex-start;
  text-align: start;
  color: white;
  font-size: 12px;
}

.head-office {
  display: inline-block;
  text-align: start;
}

.copyright {
  background: #002f5f;
  width: 100%;
  margin: 0px;
}

.copyright p {
  color: white;
  margin: 0;
  padding: 10px;
}

/* .website {
  font-family: "FSAlbert", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.9px;
}
.h2 {
  color: #12406f;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #002f5f;
  color: white;
  padding: 20px;
  gap: calc(1 / 3);
} */

.headoffice_child {
  display: flex;
  gap: 13px;
}

.statistics_box_child {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.statistics_box_child p {
  text-decoration: none;
  font-size: 14px;
}

.statistics_box_child img {
  width: 23px;
}
