@font-face {
  font-family: "FSAlbert";
  src: url("./assets/fonts/FSAlbertRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.website {
  font-family: "FSAlbert", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f0f0f0;
  letter-spacing: 0.9px;
}
.h2 {
  color: #12406f;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #002f5f;
  color: white;
  padding: 20px;
  gap: calc(1 / 3);
}

.logo {
  display: flex;
  align-items: center;
  text-align: center;
  width: 30%;
  padding-left: 30px;
}

.nav {
  width: 70%;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.searcg-icon {
  height: 20px;
  width: 20px;
  padding: 14px 16px;
}
.top-section {
  display: flex;
  width: 100%;
  padding-left: 80px;
  background-color: #ebebeb;
}
.nav li a.enrolment {
  color: #000;
  background-color: white;
  border-radius: 12px;
  display: block;
  text-align: center;
  padding: 16px 22px;
  text-decoration: none;
}

.top-section text-container {
  display: flex;
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.banner {
  height: 300px;
}

.text-container {
  height: 300px;
  flex: 1;
  text-align: left;
  padding-left: 10%;
  width: 50%;
}
.text-container p {
  width: 60%;
}

.image-container {
  width: 50%;
  text-align: right;
  position: relative;
}

.image-container img {
  height: 300px;
  max-width: 100%;
}
.upcoming_examinations {
  padding-left: 80px;
}

/* Slider */
.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 300px;
  /* margin: 20px auto; */
  background: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.slider-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  /* padding: 10px; */
  font-size: 1.2rem;
  font-weight: bold;
}

.slider-text {
  text-align: center;
  margin: 0;
}

.slider-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 30px;
  top: 50%;
  gap: 5px;
  transform: translateY(-50%);
}

.button {
  width: 10px;
  height: 12px;
  margin: 0 5px;
  background: #ddd;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button.active {
  height: 30px; /* Stretch the active button's height */
  width: 6px; /* Keep the width same */
  background: #007bff;
  border-radius: 5px; /* Optional: Adjust border-radius for a slightly more rectangular shape */
}

.button:hover {
  background: #0056b3;
}

p {
  font-family: "FSAlbert", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 14px;
}

.first_button {
  color: white;
  background-color: #002f5f;
  border-radius: 14px;
  display: flex;
  text-align: center;
  padding: 15px 22px;
  text-decoration: none;
  width: 136px;
  height: 48px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 100;
  text-align: center;
}
.arrow {
  margin-left: 10px; /* Adjust the margin as needed */
}

/* second section */

.exam-schedule {
  padding: 26px;
  display: flex
;
  margin-top: 28px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  gap: 0px;
  /* Other styles for spacing and alignment */
}

.upcoming-exams {
  display: flex;
  text-align: center;
  /* padding-left: 0px; */
  width: 25%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  /* Other styles for font size, color, etc. */
}

.exam-level {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  gap: 47px;
  
  /* Other styles for spacing and alignment */
}

.exam_date {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center; 
}

.p {
  font-size: 12px;
  font-weight: normal;
}

.calendar-icon,
.clock-icon {
  /* Styles for icons */
}

.line {
  height: 100%;
  width: 0%;
  border: 1px solid #b5b0b0;
}

.exam_dates_child{
  display: inline-block;
  padding-left: 15px;
  padding-top: 0px
}

.statistics_box{
  background: url(./assets/svg/Group_5833.svg);
}